$black-color: #383637
$blue-color : #1e74bb
$gray-color : #c6c6c5
$green-color: #377f02
$pink-color : #f4efeb
$red-color  : #ef2200
$white-color: #FFF

$base-body-color : $black-color
$light-body-color: $white-color
$light-bg-color  : $pink-color
$border-color    : darken($light-bg-color, 20%)
$alert-color     : $red-color
$notice-color    : $green-color
$primary-color   : $blue-color

