.info-box
  border-bottom: 1px dotted $gray-color

  +at-breakpoint(desk)
    opacity: 0.7
    &:hover
      opacity: 1

.info-box__title
  +font-size(gamma)
  text-transform: uppercase

.info-box__subtitle
  font-style: italic

.info-box__description
.info-box__image

.info-box__button
  float: right

